<#@ template debug="true" hostSpecific="true" #>
<#@ output extension="sql" #>
<#@ assembly name="System.Xml" #>
<#@ assembly name="Microsoft.SqlServer.ConnectionInfo"#>
<#@ assembly name="Microsoft.SqlServer.Smo" #>
-- delete the following assembly reference when you are using SQL2005
<#@ assembly name="Microsoft.SqlServer.Management.Sdk.Sfc" #>
<#@ import namespace="Microsoft.SqlServer.Management.Smo" #>

<#
	// connection information
	string serverName = @"127.0.0.1";
    string databaseName = @"Anycmd";

	// connect to database
    Server server = new Server(serverName);       
    Database database = new Database(server, databaseName);
    database.Refresh();	

	// iterate all tables in this database
    foreach (Table table in database.Tables) 
    { 
		// generate a stored procedure for this table
#>		create procedure <#= table.Name #>_delete 
		<#
		int count=0;
		this.PushIndent("        ");
		foreach (Column column in table.Columns)
		{			
			if (column.InPrimaryKey){
		    
				if (count>0) this.WriteLine(",");
					this.Write("@"+column.Name +" "+ column.DataType);
					count ++;
			}	
		} 
		this.PopIndent();
		#>
		as 
		delete from <#= table.Name #> where	 
<#    
		this.PushIndent("        ");
		count = 0;
		foreach (Column column in table.Columns)
		{						
			if (column.InPrimaryKey){
				if (count>0) this.Write(" AND ");
				WriteLine(column.Name + " = @" + column.Name);
				count ++;
			}
		}
		this.PopIndent();
		WriteLine("");
    	WriteLine("");
	
	}
#>